# Azure DevOps pipeline to release a new version and deploy to production.

parameters:
  - name: 'DEV_DEPLOY'
    displayName: 'Deploy on DEV environment'
    type: boolean
    default: True
    values:
      - False
      - True
  - name: 'UAT_PROD_DEPLOY'
    displayName: 'Deploy on UAT then PROD environments'
    type: boolean
    default: False
    values:
      - False
      - True
  - name: 'RELEASE_SEMVER'
    displayName: 'When packing a release, define the version bump to apply (release is done automatically when deploying on UAT and skipped on DEV) '
    type: string
    values:
      - major
      - minor
      - patch
    default: minor


variables:
  NODE_VERSION: 14.16.0
  YARN_CACHE_FOLDER: $(Pipeline.Workspace)/.yarn


# Only manual activations are intended
trigger: none
pr: none

# This pipeline has been implemented to be run on hosted agent pools based both
# on 'windows' and 'ubuntu' virtual machine images and using the scripts defined
# in the package.json file. Since we are deploying on Azure functions on Windows
# runtime, the pipeline is currently configured to use a Windows hosted image for
# the build and deploy.
pool:
  vmImage: 'windows-2019'

resources:
  repositories:
    - repository: pagopaCommons
      type: github
      name: pagopa/azure-pipeline-templates
      ref: refs/tags/v19
      endpoint: 'io-azure-devops-github-ro'

    - repository: checkoutTests
      type: github
      name: pagopa/pagopa-checkout-tests
      ref: main
      endpoint: 'io-azure-devops-github-ro'

stages:
  - stage: Prepare_artifact_dev
    condition: and(succeeded(), eq(${{parameters.DEV_DEPLOY}}, true))
    dependsOn: []
    jobs:
      - job: make_build
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - template: templates/node-job-setup/template.yaml@pagopaCommons
            parameters:
              # On the assumption that this stage is executed only when Relase stage is,
              #  with this parameter we set the reference the deploy script must pull changes from.
              # The branch/tag name is calculated from the source branch
              #  ex: Build.SourceBranch=refs/heads/release/pagopa-porting --> release/pagopa-porting
              #  ex: Build.SourceBranch=refs/tags/v1.2.3-RELEASE --> v1.2.3-RELEASE
              gitReference: ${{ replace(replace(variables['Build.SourceBranch'], 'refs/tags/', ''), 'refs/heads/', '') }}

          - template: azure-templates/setup-env.yml
            parameters:
              pagopa_apim_host: $(CHECKOUT_API_HOST_DEV)
              polling_activation_interval: 6000
              polling_activation_attempts: 16
              env: 'DEV'
              recaptcha_site_key: $(CHECKOUT_CAPTCHA_ID_DEV)
              api_payment_transactions_basepath: '/api/checkout/payment-transactions/v1'
              api_timeout: 10000
              api_payment_activations_basepath: '/checkout/payments/v1'
              pm_host: 'https://api.dev.platform.pagopa.it/payment-manager'
              pm_api_basepath: '/pp-restapi/v4'
              donations_url: 'https://api.dev.platform.pagopa.it/donations/api/v1/availabledonations'
              ecommerce_host: 'https://api.platform.pagopa.it'
              api_ecommerce_basepath: '/ecommerce/checkout/v1'
              api_ecommerce_basepath_v2: '/ecommerce/checkout/v2'
              pagopa_assets_cdn: 'https://assets.cdn.platform.pagopa.it/payment-methods'
              pagopa_logos_cdn: 'https://assets.cdn.io.italia.it/logos/abi'
              survey_show: 0
              checkout_npg_sdk_url: 'https://stg-ta.nexigroup.com/monetaweb/resources/hfsdk.js'
              checkout_gdi_check_timeout: 60000

          - script: |
              yarn build
            displayName: 'Build'

          - publish: $(System.DefaultWorkingDirectory)/dist
            artifact: Bundle_DEV

  - stage: Deploy_DEV_pagoPA
    dependsOn:
      - Prepare_artifact_dev
    jobs:
      - job: 'deploy'
        steps:
          - checkout: none

          - download: current
            artifact: Bundle_DEV

          - task: AzureCLI@1
            displayName: 'Sync checkout storage on DEV'
            inputs:
              azureSubscription: 'DEV-PAGOPA-SERVICE-CONN'
              scriptLocation: inlineScript
              inlineScript: |
                call az storage blob sync --container $web --account-name pagopadcheckoutsa -s "$(Pipeline.Workspace)\Bundle_DEV" --exclude-path payment-transactions-gateway

          - task: AzureCLI@1
            displayName: 'Purge CDN endpoint on DEV'
            inputs:
              azureSubscription: 'DEV-PAGOPA-SERVICE-CONN'
              scriptLocation: inlineScript
              inlineScript: |
                call az cdn endpoint purge -g pagopa-d-checkout-fe-rg -n pagopa-d-checkout-cdn-endpoint --profile-name pagopa-d-checkout-cdn-profile --content-paths "/*"

  - stage: End_to_End_Tests_DEV
    dependsOn:
      - Deploy_DEV_pagoPA
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: e2e_tests
        steps:
          - template: .devops/azure-templates/e2e-tests.yaml@checkoutTests
            parameters:
              ENVIRONMENT: DEV
              CHECKOUT_RESOURCE_REPO_NAME: checkoutTests

  # Create a relase
  # Activated when ONE OF these are met:
  # - is on branch main
  # - is a tag in the form v{version}-RELEASE

  - stage: Release
    dependsOn: []
    condition:
      and(
        succeeded(),
        eq(${{parameters.UAT_PROD_DEPLOY}}, true),
        or(
          eq(variables['Build.SourceBranch'], 'refs/heads/develop'),
          and(
            startsWith(variables['Build.SourceBranch'], 'refs/tags'),
            endsWith(variables['Build.SourceBranch'], '-RELEASE')
          )
        )
      )
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: make_release
        steps:
        - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/develop') }}:
          - template: templates/node-job-setup/template.yaml@pagopaCommons
            parameters:
              persistCredentials: true
          - template: templates/node-github-release/template.yaml@pagopaCommons
            parameters:
              semver: '${{ parameters.RELEASE_SEMVER }}'
              gitEmail: $(GIT_EMAIL)
              gitUsername: $(GIT_USERNAME)
              gitHubConnection: $(GITHUB_CONNECTION)
              release_branch: develop

        - ${{ if ne(variables['Build.SourceBranch'], 'refs/heads/develop') }}:
          - script: |
              echo "We assume this reference to be a valid release: $(Build.SourceBranch). Therefore, there is no need to bundle a new release."
            displayName: 'Skip release bundle'
  # Prepare Artifact
  - stage: Prepare_artifact_uat
    dependsOn:
      - Release
    jobs:
      - job: make_build
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - template: templates/node-job-setup/template.yaml@pagopaCommons
            parameters:
              # On the assumption that this stage is executed only when Relase stage is,
              #  with this parameter we set the reference the deploy script must pull changes from.
              # The branch/tag name is calculated from the source branch
              #  ex: Build.SourceBranch=refs/heads/main --> main
              #  ex: Build.SourceBranch=refs/tags/v1.2.3-RELEASE --> v1.2.3-RELEASE
              gitReference: ${{ replace(replace(variables['Build.SourceBranch'], 'refs/tags/', ''), 'refs/heads/', '') }}

          - template: azure-templates/setup-env.yml
            parameters:
              pagopa_apim_host: $(CHECKOUT_API_HOST_UAT)
              polling_activation_interval: 6000
              polling_activation_attempts: 16
              env: 'UAT'
              recaptcha_site_key: $(CHECKOUT_CAPTCHA_ID_UAT)
              api_payment_transactions_basepath: '/api/checkout/payment-transactions/v1'
              api_timeout: 10000
              api_payment_activations_basepath: '/checkout/payments/v1'
              pm_host: 'https://api.uat.platform.pagopa.it/payment-manager'
              pm_api_basepath: '/pp-restapi/v4'
              donations_url: 'https://api.uat.platform.pagopa.it/donations/api/v1/availabledonations'
              ecommerce_host: 'https://api.uat.platform.pagopa.it'
              api_ecommerce_basepath: '/ecommerce/checkout/v1'
              api_ecommerce_basepath_v2: '/ecommerce/checkout/v2'
              pagopa_assets_cdn: 'https://assets.cdn.platform.pagopa.it/payment-methods'
              pagopa_logos_cdn: 'https://assets.cdn.io.italia.it/logos/abi/'
              survey_show: 0
              checkout_npg_sdk_url: 'https://stg-ta.nexigroup.com/monetaweb/resources/hfsdk.js'

          - script: |
              yarn build
            displayName: 'Build'

          - publish: $(System.DefaultWorkingDirectory)/dist
            artifact: Bundle_UAT

  - stage: UAT_Deploy_approval
    dependsOn:
      - Prepare_artifact_uat
    jobs:
      - job: Deploy_UAT_WaitForApproval
        displayName: Wait for UAT approval
        pool: server
        timeoutInMinutes: 4320 # 3 days
        steps:
        - task: ManualValidation@0
          timeoutInMinutes: 4320 # 3 days
          inputs:
            onTimeout: 'skip'

  - stage: Deploy_UAT_pagoPA
    dependsOn:
      - UAT_Deploy_approval
    jobs:
      - job: 'deploy'
        steps:
          - checkout: none

          - download: current
            artifact: Bundle_UAT

          - task: AzureCLI@1
            displayName: 'Sync checkout storage on UAT'
            inputs:
              azureSubscription: 'UAT-PAGOPA-SERVICE-CONN'
              scriptLocation: inlineScript
              inlineScript: |
                call az storage blob sync --container $web --account-name pagopaucheckoutsa -s "$(Pipeline.Workspace)\Bundle_UAT" --exclude-path payment-transactions-gateway

          - task: AzureCLI@1
            displayName: 'Purge CDN endpoint on UAT'
            inputs:
              azureSubscription: 'UAT-PAGOPA-SERVICE-CONN'
              scriptLocation: inlineScript
              inlineScript: |
                call az cdn endpoint purge -g pagopa-u-checkout-fe-rg -n pagopa-u-checkout-cdn-endpoint --profile-name pagopa-u-checkout-cdn-profile --content-paths "/*"

  - stage: End_to_End_Tests_UAT
    dependsOn:
      - Deploy_UAT_pagoPA
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: e2e_tests
        steps:
          - template: .devops/azure-templates/e2e-tests.yaml@checkoutTests
            parameters:
              ENVIRONMENT: UAT
              CHECKOUT_RESOURCE_REPO_NAME: checkoutTests

    # Prepare Artifact
  - stage: Prepare_artifact_prod
    dependsOn:
      - Deploy_UAT_pagoPA
    jobs:
      - job: make_build
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - template: templates/node-job-setup/template.yaml@pagopaCommons
            parameters:
              # On the assumption that this stage is executed only when Relase stage is,
              #  with this parameter we set the reference the deploy script must pull changes from.
              # The branch/tag name is calculated from the source branch
              #  ex: Build.SourceBranch=refs/heads/main --> main
              #  ex: Build.SourceBranch=refs/tags/v1.2.3-RELEASE --> v1.2.3-RELEASE
              gitReference: ${{ replace(replace(variables['Build.SourceBranch'], 'refs/tags/', ''), 'refs/heads/', '') }}

          - template: azure-templates/setup-env.yml
            parameters:
              pagopa_apim_host: $(CHECKOUT_API_HOST_PROD)
              polling_activation_interval: 6000
              polling_activation_attempts: 16
              env: 'PROD'
              recaptcha_site_key: $(CHECKOUT_CAPTCHA_ID_PROD)
              api_payment_transactions_basepath: '/api/checkout/payment-transactions/v1'
              api_timeout: 10000
              api_payment_activations_basepath: '/checkout/payments/v1'
              pm_host: 'https://api.platform.pagopa.it/payment-manager'
              pm_api_basepath: '/pp-restapi/v4'
              donations_url: 'https://api.platform.pagopa.it/donations/api/v1/availabledonations'
              ecommerce_host: 'https://api.platform.pagopa.it'
              api_ecommerce_basepath: '/ecommerce/checkout/v1'
              api_ecommerce_basepath_v2: '/ecommerce/checkout/v2'
              pagopa_assets_cdn: 'https://assets.cdn.platform.pagopa.it/payment-methods'
              pagopa_logos_cdn: 'https://assets.cdn.io.italia.it/logos/abi/'
              survey_show: 0
              checkout_npg_sdk_url: 'https://xpay.nexigroup.com/monetaweb/resources/hfsdk.js'

          - script: |
              yarn build
            displayName: 'Build'

          - publish: $(System.DefaultWorkingDirectory)/dist
            artifact: Bundle

  - stage: UAT_to_PROD_promotion
    dependsOn:
      - Prepare_artifact_prod
    jobs:
      - job: Deploy_Prod_WaitForApproval
        displayName: Wait for PROD approval
        pool: server
        timeoutInMinutes: 4320 # 3 days
        steps:
        - task: ManualValidation@0
          timeoutInMinutes: 4320 # 3 days
          inputs:
            onTimeout: 'skip'

  - stage: Deploy_PROD_pagoPA
    dependsOn:
      - UAT_to_PROD_promotion
    jobs:
      - job: 'deploy'
        steps:
          - checkout: none

          - download: current
            artifact: Bundle

          - task: AzureCLI@1
            displayName: 'Sync checkout storage on PROD'
            inputs:
              azureSubscription: 'PROD-PAGOPA-SERVICE-CONN'
              scriptLocation: inlineScript
              inlineScript: |
                call az storage blob sync --container $web --account-name pagopapcheckoutsa -s "$(Pipeline.Workspace)\Bundle" --exclude-path payment-transactions-gateway

          - task: AzureCLI@1
            displayName: 'Purge CDN endpoint on PROD'
            inputs:
              azureSubscription: 'PROD-PAGOPA-SERVICE-CONN'
              scriptLocation: inlineScript
              inlineScript: |
                call az cdn endpoint purge -g pagopa-p-checkout-fe-rg -n pagopa-p-checkout-cdn-endpoint --profile-name pagopa-p-checkout-cdn-profile --content-paths "/*"
