# Azure DevOps pipeline template used to build bundle.
parameters:
  - name: 'pagopa_apim_host'
    type: string
    default: ''

  - name: 'api_payment_activations_basepath'
    type: string
    default: ''
  
  - name: 'api_payment_transactions_basepath'
    type: string
    default: ''

  - name: 'pm_host'
    type: string
    default: ''

  - name: 'pm_api_basepath'
    type: string
    default: ''

  - name: 'api_timeout'
    type: number
    default: 10000

  - name: 'polling_activation_interval'
    type: number
    default: 6000

  - name: 'polling_activation_attempts'
    type: number
    default: 15

  - name: 'env'
    type: string
    default: ''

  - name: 'recaptcha_site_key'
    type: string
    default: ''

  - name: 'donations_url'
    type: string
    default: ''

  - name: 'ecommerce_host'
    type: string
    default: ''
  
  - name: 'api_ecommerce_basepath'
    type: string
    default: ''

  - name: 'pagopa_assets_cdn'
    type: string
    default: ''

  - name: 'pagopa_logos_cdn'
    type: string
    default: ''

steps:
- bash: |
    chmod +x env.sh
    env -i \
      CHECKOUT_PAGOPA_APIM_HOST=${{ parameters.pagopa_apim_host }} \
      CHECKOUT_API_PAYMENT_ACTIVATIONS_BASEPATH=${{ parameters.api_payment_activations_basepath }} \
      CHECKOUT_API_PAYMENT_TRANSACTIONS_BASEPATH=${{ parameters.api_payment_transactions_basepath }} \
      CHECKOUT_PM_HOST=${{ parameters.pm_host }} \
      CHECKOUT_PM_API_BASEPATH=${{ parameters.pm_api_basepath }} \
      CHECKOUT_API_TIMEOUT=${{ parameters.api_timeout }} \
      CHECKOUT_POLLING_ACTIVATION_INTERVAL=${{ parameters.polling_activation_interval }} \
      CHECKOUT_POLLING_ACTIVATION_ATTEMPTS=${{ parameters.polling_activation_attempts }} \
      CHECKOUT_ENV=${{ parameters.env }} \
      CHECKOUT_RECAPTCHA_SITE_KEY=${{ parameters.recaptcha_site_key }} \
      CHECKOUT_DONATIONS_URL=${{ parameters.donations_url }} \
      CHECKOUT_ECOMMERCE_HOST=${{ parameters.ecommerce_host }} \
      CHECKOUT_API_ECOMMERCE_BASEPATH=${{ parameters.api_ecommerce_basepath }} \
      CHECKOUT_PAGOPA_ASSETS_CDN=${{ parameters.pagopa_assets_cdn }} \
      CHECKOUT_PAGOPA_LOGOS_CDN=${{ parameters.pagopa_logos_cdn }} \
      bash env.sh

  displayName: 'Populate environment file'
